body{
 height: 100%;
 margin: 0;
 padding: 0;
}

#description{
  margin-top: 5px;
  text-align: justify;
}
.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

#MapLCB{
    height:350px;
    position:absolute;
    top:0;
    bottom:0; 
    width:100%;
    
}

#header{
    padding-bottom:20px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
}

#footer{
  margin-top: 20px;
  padding-top: 10px;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
}
.removepadding {
    padding-right:0px;
    padding-left:0px;
}

 .hdx-3w-chart {
    width:100%;
 }

 .hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }

.keyfigures {
  height: 50px;
  /*margin-top: 50px;*/
}
#reset {
  /*float:right;*/
  margin-bottom: 10px;
}
/*.keyfigures h4{
  height: 30px;
  background-color: #dddddd;
  text-align: left;
  /*font-size: 1.7em;
}*/

/*.keyfigures1 {
  height: 150px;
  margin-top: 50px;
}
.keyfigures1 h4{
  height: 30px;
 /* background-color: #dddddd;
  text-align: left;
  font-size: 1.7em;
}*/
.description{
  text-align: justify;
  
}